<ul class="list-unstyled list-inline text-center menu-icons">
    <li class="list-inline-item">
        <a href="#" data-bs-toggle="modal" data-bs-target="#searchPagesModal">
            <i data-cs-icon="search" data-cs-size="18"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="#" id="pinButton" class="pin-button">
            <i data-cs-icon="lock-on" class="unpin" data-cs-size="18"></i>
            <i data-cs-icon="lock-off" class="pin" data-cs-size="18"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="#" id="colorButton">
            <i data-cs-icon="light-on" class="light" data-cs-size="18"></i>
            <i data-cs-icon="light-off" class="dark" data-cs-size="18"></i>
        </a>
    </li>
</ul>