<section class="scroll-section" id="title">
<div class="page-title-container">
  <h1 class="mb-0 pb-0 display-4">@Title</h1>
</div>
</section>
<div class="card">
    <div class="card-body settings-container">
        <div class="main-column row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="m-0">@LeftSubTitle</h4>
                    <div>
                        @LeftButtons
                    </div>
                </div>
                <div class="settings-column-body">
                    @LeftBody
                </div>
            </div>
        </div>
        <div class="divider-column"></div>
        <div class="secondary-column row">
            <div class="col">
                
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="m-0">@RightSubTitle</h4>
                    <div>
                        @RightButtons
                    </div>
                </div>
                <div class="settings-column-body">
                    @RightBody
                </div>

            </div>
        </div>
    </div>
</div>