<div class="blazor-loadingindicator-loader-wrapper">
    <!-- https://loading.io -->
    <div class="text-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem"></div>
    </div>
</div>